<div class="flex-container">
  <div>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Nombre del conductor</mat-label>
        <input matInput placeholder="" name="name" [(ngModel)]="name">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-left: 11px">
        <mat-label>Placa del bus</mat-label>
        <input matInput placeholder="Placeholder" name="placa" [(ngModel)]="placa">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Seleccione la ruta</mat-label>
        <mat-select placeholder="Select">
          <mat-option *ngFor="let option of options" [value]="option" (click)="optionSelected(option)">
            {{option.name}}
          </mat-option>
        </mat-select>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Hora de salida</mat-label>
        <mat-select placeholder="Select">
          <mat-option value="option">7:00 am</mat-option>
          <mat-option value="option">8:00 pm</mat-option>
          <mat-option value="option">9:00 am</mat-option>
          <mat-option value="option">10:00 am</mat-option>
        </mat-select>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-left: 11px">
        <mat-label>Hora de llegada</mat-label>
        <mat-select placeholder="Select">
          <mat-option value="option">7:00 am</mat-option>
          <mat-option value="option">8:00 pm</mat-option>
          <mat-option value="option">9:00 am</mat-option>
          <mat-option value="option">10:00 am</mat-option>
        </mat-select>
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline">
        <mat-label>Codigo de dispositivo</mat-label>
        <input matInput placeholder="Placeholder" name="codigo" [(ngModel)]="codigo">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </p>

    <h3>Lista de Coordenadas</h3>
    <mat-divider></mat-divider>
    <mat-list>
      <mat-list-item *ngFor="let item of markers; let i = index">
        {{ item.lat }} | {{ item.lng }} | 
          <button mat-mini-fab (click)="Quitar(i)">
            <mat-icon>delete</mat-icon>
          </button>
      </mat-list-item>
    </mat-list>

  </div>
  <div class="map">
    <mat-card class="example-card">
        <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)">
            <agm-direction
                [origin]="origin"
                [destination]="destination"
                [waypoints]="waypoints"
            ></agm-direction>
            <agm-marker *ngFor="let m of markers; let i = index" 
                (markerClick)="clickedMarker(m.label, i)"
                [latitude]="m.lat" 
                [longitude]="m.lng" 
                [label]="m.label" 
                [markerDraggable]="m.draggable"
                (dragEnd)="markerDragEnd(m, $event)">
                <agm-info-window>
                    <strong>InfoWindow content</strong>
                </agm-info-window>
    
            </agm-marker>
    
            <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
          [radius]="5000"
          [fillColor]="'red'"
          [circleDraggable]="true"
          [editable]="true">
      </agm-circle>
        </agm-map>
    </mat-card>
  </div>
</div>

<button mat-raised-button color="primary" (click)="Guardar()">Guardar</button>