<div class="card-estilos">
  <div class="portfolio">
    <div class="portfolio-item">
      <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Mario Javier Cena</mat-card-title>
            <mat-card-subtitle>El Gavilán</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="https://d29fhpw069ctt2.cloudfront.net/icon/image/49174/preview.svg" alt="Photo of a Shiba Inu">
          <mat-card-content>
              <div class="portfolio-hover">
                  <div class="portfolio-description">
                    <h4>Información</h4>
                    <p class="text">
                      Managua - Matagalpa 
                    </p>
                    <p>sale: 7:31 am</p>
                    <p>Llega: 9:21 am</p>
                    <p>Lunes - Martes - Jueves</p>
                  </div>
                </div>
          </mat-card-content>
          <!-- <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions> -->
        </mat-card>
      </div>
  </div>

  <div class="portfolio">
      <div class="portfolio-item">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Mario Javier Cena</mat-card-title>
              <mat-card-subtitle>El Gavilán</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://d29fhpw069ctt2.cloudfront.net/icon/image/49174/preview.svg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div class="portfolio-hover">
                    <div class="portfolio-description">
                      <h4>Información</h4>
                      <p class="text">
                        Managua - Matagalpa 
                      </p>
                      <p>sale: 7:31 am</p>
                      <p>Llega: 9:21 am</p>
                      <p>Lunes - Martes - Jueves</p>
                    </div>
                  </div>
            </mat-card-content>
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>
        </div>
    </div>

    <div class="portfolio">
        <div class="portfolio-item">
          <mat-card class="example-card">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Mario Javier Cena</mat-card-title>
                <mat-card-subtitle>El Gavilán</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="https://d29fhpw069ctt2.cloudfront.net/icon/image/49174/preview.svg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                  <div class="portfolio-hover">
                      <div class="portfolio-description">
                        <h4>Información</h4>
                        <p class="text">
                          Managua - Matagalpa 
                        </p>
                        <p>sale: 7:31 am</p>
                        <p>Llega: 9:21 am</p>
                        <p>Lunes - Martes - Jueves</p>
                      </div>
                    </div>
              </mat-card-content>
              <!-- <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions> -->
            </mat-card>
          </div>
      </div>

      <div class="portfolio">
          <div class="portfolio-item">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Mario Javier Cena</mat-card-title>
                  <mat-card-subtitle>El Gavilán</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://d29fhpw069ctt2.cloudfront.net/icon/image/49174/preview.svg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <div class="portfolio-hover">
                        <div class="portfolio-description">
                          <h4>Información</h4>
                          <p class="text">
                            Managua - Matagalpa 
                          </p>
                          <p>sale: 7:31 am</p>
                          <p>Llega: 9:21 am</p>
                          <p>Lunes - Martes - Jueves</p>
                        </div>
                      </div>
                </mat-card-content>
                <!-- <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions> -->
              </mat-card>
            </div>
        </div>

        <div class="portfolio">
            <div class="portfolio-item">
              <mat-card class="example-card">
                  <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Mario Javier Cena</mat-card-title>
                    <mat-card-subtitle>El Gavilán</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://d29fhpw069ctt2.cloudfront.net/icon/image/49174/preview.svg" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                      <div class="portfolio-hover">
                          <div class="portfolio-description">
                            <h4>Información</h4>
                            <p class="text">
                              Managua - Matagalpa 
                            </p>
                            <p>sale: 7:31 am</p>
                            <p>Llega: 9:21 am</p>
                            <p>Lunes - Martes - Jueves</p>
                          </div>
                        </div>
                  </mat-card-content>
                  <!-- <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                  </mat-card-actions> -->
                </mat-card>
              </div>
          </div>


          <div class="portfolio">
              <div class="portfolio-item">
                <mat-card class="example-card">
                    <mat-card-header>
                      <div mat-card-avatar class="example-header-image"></div>
                      <mat-card-title>Mario Javier Cena</mat-card-title>
                      <mat-card-subtitle>El Gavilán</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="https://d29fhpw069ctt2.cloudfront.net/icon/image/49174/preview.svg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <div class="portfolio-hover">
                            <div class="portfolio-description">
                              <h4>Información</h4>
                              <p class="text">
                                Managua - Matagalpa 
                              </p>
                              <p>sale: 7:31 am</p>
                              <p>Llega: 9:21 am</p>
                              <p>Lunes - Martes - Jueves</p>
                            </div>
                          </div>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                      <button mat-button>LIKE</button>
                      <button mat-button>SHARE</button>
                    </mat-card-actions> -->
                  </mat-card>
                </div>
            </div>


            <div class="portfolio">
                <div class="portfolio-item">
                  <mat-card class="example-card">
                      <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>Mario Javier Cena</mat-card-title>
                        <mat-card-subtitle>El Gavilán</mat-card-subtitle>
                      </mat-card-header>
                      <img mat-card-image src="https://d29fhpw069ctt2.cloudfront.net/icon/image/49174/preview.svg" alt="Photo of a Shiba Inu">
                      <mat-card-content>
                          <div class="portfolio-hover">
                              <div class="portfolio-description">
                                <h4>Información</h4>
                                <p class="text">
                                  Managua - Matagalpa 
                                </p>
                                <p>sale: 7:31 am</p>
                                <p>Llega: 9:21 am</p>
                                <p>Lunes - Martes - Jueves</p>
                              </div>
                            </div>
                      </mat-card-content>
                      <!-- <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                      </mat-card-actions> -->
                    </mat-card>
                  </div>
              </div>


              <div class="portfolio">
                  <div class="portfolio-item">
                    <mat-card class="example-card">
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image"></div>
                          <mat-card-title>Mario Javier Cena</mat-card-title>
                          <mat-card-subtitle>El Gavilán</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-image src="https://d29fhpw069ctt2.cloudfront.net/icon/image/49174/preview.svg" alt="Photo of a Shiba Inu">
                        <mat-card-content>
                            <div class="portfolio-hover">
                                <div class="portfolio-description">
                                  <h4>Información</h4>
                                  <p class="text">
                                    Managua - Matagalpa 
                                  </p>
                                  <p>sale: 7:31 am</p>
                                  <p>Llega: 9:21 am</p>
                                  <p>Lunes - Martes - Jueves</p>
                                </div>
                              </div>
                        </mat-card-content>
                        <!-- <mat-card-actions>
                          <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button>
                        </mat-card-actions> -->
                      </mat-card>
                    </div>
                </div>
  </div>
 