<div class="menu">
    <button mat-button [matMenuTriggerFor]="aboveMenu">Crear</button>
    <mat-menu #aboveMenu="matMenu" yPosition="above">
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="belowMenu">Listas</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="beforeMenu">Boletos</button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
    </mat-menu>
</div>
<!-- <app-crear-rutas></app-crear-rutas> -->
<app-lista-rutas></app-lista-rutas>